<section id="bio" class="social-icon-out" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" src="{{ "/assets/img/isaque.jpg" | prepend: site.baseurl }}" alt="Isaque Dias">
        <h3 itemprop="name" href="https://plus.google.com/+IsaqueDiasm/posts">Isaque Dias</h3>
        <p itemprop="jobTitle">Empreendedor, front-end delevoper, UX Lover, entusiasta por tecnologias mobile híbridas e músico nas horas vagas. <a itemprop="email" class="email" href="mailto:isaquediasm@gmail.com">isaquediasm@gmail.com</a></p>
        
    
        <a class="social-icon" href="#"><img src="{{ "/assets/img/github-out.svg" | prepend: site.baseurl }}" alt="GitHub"></a>
        <a class="social-icon" href="#"><img src="{{ "/assets/img/facebook-out.svg" | prepend: site.baseurl }}" alt="Facebook"></a>
        <a class="social-icon" href="#"><img src="{{ "/assets/img/twitter-out.svg" | prepend: site.baseurl }}" alt="Twitter"></a>
        
    </section>