 <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">

            </li>
            <li>
                <a href="../#">Home</a>
            </li>
            <li>
                <a href="../#about">Serviços</a>
            </li>
            <li>
                <a href="../#services">Sobre</a>
            </li>
            <li>
                <a href="../#portfolio">Portfolio</a>
            </li>
            <li>
                <a href="../#contact">Contato</a>
            </li>
        </ul>
    </nav>

 <header class="header-post col-md-12 text-center">
      
        <h1 itemprop="name">{{ page.title }}</h1>
             {% if page.date %}
        <h6 itemprop="datePublished" content="{{ page.date }}">{{ page.date | date_to_string }}</h6>
         {% endif %}   
     <p itemprop="description">{{ page.description }}</p>
    </header>
            