@keyframes pulse {
  0% {
    top: 2px;
    
    fill: #A0BCE8;
  }
  20% {
    top: 4px
    
    fill: #A0E0E8;
  }
  40% {
    top: 6px
    fill: #A0E8E6;
  }
  60% {
  	
    top: 6px
    fill: #A0E8C2;
  }
  80% {
    top: 4px
    fill: #A0E8B7;
  }
  100% {
    top: 2px
     fill: #BDE8A0
  }
}