h1, h2, h3, h4, h5, h6
	font-family font-bold
	
p
	font-family font-light
	font-size 20px
	color #666
	line-height 1.3em
	
h1
	font-size text-12
	
h2 
	font-size text-11
	line-height 85%
	
h3 
	font-size text-10
	
h4 
	font-size text-9
	
h5 
	font-size text-8

h6 
	font-size text-7
	
	
/***********************
	ALINHAMENTOS
 **********************/
.text-center 
	
	text-align center

.text-left 
	text-align left

.text-right 
	text-align right
	
/**************
  ESTILOS DE FONTES
 ***************/
	
.font-bold 
	font-family font-semibold

.font-light 
	font-family font-light

.font-regular 
	font-family font-regular

.text-light
	color light !important
	
	
.text-1 
	font-size text-1
	
.text-2
	font-size text-2
	
.text-3
	font-size text-3
	
.text-4
	font-size text-4
	
.text-5 
	font-size text-5
	
.text-6
	font-size text-6

.text-7 
	font-size text-7

.text-8
	font-size text-8

.text-9
	font-size text-9
	
.text-10
	font-size text-10
	
.text-11
	font-size text-11
	
.text-12
	font-size text-12

.font-thin 
	font-family font-light
