
/* VARIÁVEIS DE FONTES */
font-xlight = Source Sans Extra Light
font-light = Source Sans Light
font-regular = Source Sans Regular
font-semibold = Source Sans Semibold
font-bold = Source Sans Bold
font-black = Source Sans Black
default-text-shadow = 2px 2px 1px info-d
/* MIXINS */

	
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	text-border-radius n
	
a-reset()
	text-decoration none
	color inherit
	
transition()
	-webkit-transition all 0.3s
	-moz-transition all 0.3s
	transition all 0.3s
	

text-12 = 125px
text-11 = 84px
text-10 = 67.2px
text-9 = 53.76px
text-8 = 43px
text-7 = 34.4px
text-6 = 27.52px
text-5 = 22.01px
text-4 = 17.61px
text-3 = 14.09px
text-2 = 11.27px
text-1 = 9.01px

val-xs = 5px
val-sm = 15px 
val-md = 25px 
val-l = 35px 
val-xl = 45px
/* COOLORS */

light = #fff
grey = #ddd
grey-lter = #FAFAFA
info = #22A7F0
info-d = #208FCB